.add-icon-container {
    background-color: rgb(220, 220, 229);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}
.add-icon-container:hover {
    background-color: royalblue;
}